.contact{
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;

    .textContainer{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 40px;

        h1{
            font-size: 100px;
            line-height: 88px;
        }

        span{
            font-weight: 300;
        }
    }
    .formContainer{
        flex: 1;
        position: relative;

        .phoneSvg{
            stroke: cyan;
            position: absolute;
            margin: auto;

        }

        form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            input, textarea{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                color: white;
                border-radius: 5px;
            }

            button{
                padding: 20px;
                border: none;
                background-color: cyan;
                border-radius: 20px;
                cursor: pointer;
                font-weight: 500;
            }
        }
    }
}