.apploader {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    animation:
        colorchange 1.3s infinite alternate,
        dissapear 1s 5s forwards;
}

@keyframes colorchange {
    0% {
        color: white;
    }
    70% {
        color: cyan;
    }
    100% {
        color: white;
    }
}

@keyframes dissapear {
    to {
        pointer-events: none;
        opacity: 0;
        display: none;
    }
}
