.tdnn {
  /*change size of toggle with font-size*/
  position: relative;
  display: inline-block;
  height: 16em;
  width: 30em;
  border-radius: 16em;
  transition: all 0.5s;
  background: #00f2ff;
  cursor: pointer;
  box-shadow: 0 0 10px 0px #ffffff;
  z-index: 100;
}

.day {
  background: #ffbf71;
}

.moon {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  transition: all 0.6s;
  top: 3em;
  left: 3em;
  transform: rotate(-75deg);
  width: 10em;
  height: 10em;
  background: #00f2ff;
  box-shadow: 3em 2.5em 0 0em rgba(0, 0, 0, 0.5019607843) inset, rgba(0, 0, 0, 0.2) 0em -7em 0 -4.5em, rgba(0, 0, 0, 0.2) 3em 7em 0 -4.5em, rgba(0, 0, 0, 0.2) 2em 13em 0 -4em, rgba(0, 0, 0, 0.2) 6em 2em 0 -4.1em, rgba(0, 0, 0, 0.2) 8em 8em 0 -4.5em, rgba(0, 0, 0, 0.2) 6em 13em 0 -4.5em, rgba(0, 0, 0, 0.2) -4em 7em 0 -4.5em, rgba(0, 0, 0, 0.2) -1em 10em 0 -4.5em;
}

.sun {
  top: 4.5em;
  left: 18em;
  transform: rotate(0deg);
  width: 7em;
  height: 7em;
  background: #ffffff;
  box-shadow: 3em 3em 0 5em #ffffff inset, 0 -5em 0 -2.7em #ffffff, 3.5em -3.5em 0 -3em #ffffff, 5em 0 0 -2.7em #ffffff, 3.5em 3.5em 0 -3em #ffffff, 0 5em 0 -2.7em #ffffff, -3.5em 3.5em 0 -3em #ffffff, -5em 0 0 -2.7em #ffffff, -3.5em -3.5em 0 -3em #ffffff;
}