* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  bottom: 0;
  padding: 30px 0 20px;
  line-height: 20px;
  border: white solid 1px;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

.colPrincipal {
  margin-top: 60px;
  margin-right: 30px;
}
.colPrincipal .logoFooter {
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 25px;
  text-align: center;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}
.col h3 {
  font-weight: bold;
  font-size: 20px;
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

ul li {
  margin-bottom: 12px;
}

.formFooter {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
.formFooter input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: none;
  outline: none;
  margin-left: 10px;
}

.social-icons .rrss {
  font-size: 35px;
  margin-right: 20px;
}
.social-icons .rrss:last-child {
  margin-right: 0;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

.copyright {
  text-align: center;
}

.underlineFooter {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underlineFooter span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}
@media (max-width: 700px) {
  .footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
}