@tailwind base;
@tailwind components;
@tailwind utilities;

$color-titles: #ededed;
$color-principal: #00f2ff;

.app {
    font-family: "Poppins", sans-serif;
    color: $color-titles;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.video-inicio {
    position: absolute;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.navbar {
    a {
        color: $color-titles;
        transition: 0.3s;
    }
    a:hover,
    a.active {
        color: $color-principal;
    }
    .login-button:hover,
    .signup-button:hover {
        background-color: $color-principal;
        color: #5f5e5e;
        transition: 0.6s;
    }
}

.triangle {
    border-left: 60px solid transparent; /* Ancho de la parte izquierda */
    border-right: 60px solid transparent; /* Ancho de la parte derecha */
    border-bottom: 25px solid $color-principal; /* Altura del triángulo y color */
}
