@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 768px) {
    .navbar-home {
        transition: all 300ms;
    }
}

.active {
    color: #00cad4;
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}