.apploader {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    animation: colorchange 1.3s infinite alternate;
}

@keyframes colorchange {
    0% {
        color: white;
    }
    70% {
        color: cyan;
    }
    100% {
        color: white;
    }
}
