form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    input,
    textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        border-radius: 5px;
    }

    button {
        padding: 20px;
        border: none;
        background-color: cyan;
        border-radius: 20px;
        cursor: pointer;
        font-weight: 500;
    }
}
