div.clickEffect {
    position: fixed;
    box-sizing: border-box;
    border-style: solid;
    pointer-events: none;
    border-color: #ffffff;
    mix-blend-mode: difference;
    border-radius: 50%;
    animation: clickEffect 0.4s ease-out;
    z-index: 99999;
}
@keyframes clickEffect {
    0% {
        opacity: 1;
        width: 0.5em;
        height: 0.5em;
        margin: -0.25em;
        border-width: 0.5em;
    }
    100% {
        opacity: 0.2;
        width: 6em;
        height: 6em;
        margin: -3em;
        border-width: 0.03em;
    }
}
