.listContainer {
    flex: 2;
    display: flex;
    .box {
        padding: 50px;
        border: 0.5px solid gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {
            display: flex;

            li {
                list-style: none;
                text-align: center;
                align-self: center;
            }
        }

        button {
            padding: 10px;
            background-color: cyan;
            border: none;
            cursor: pointer;
            border-radius: 50px;
            margin-top: 15px;
        }
    }
}
